body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 25px;
    color: #495057;
    background: #F8F9FA;
}
/* --------------------------------------- */
main {
    flex: 1 1 auto;
}
/* --------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
/* --------------------------------------- */
.container {
    max-width: 1330px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* --------------------------------------- */