.menu {
  padding: 0 toRem(10);
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(30);
      left: -100%;
      top: 0;
      overflow: auto;
      background-color: $darkColor;
      @include adaptiveValue("padding-top", 180, 120, 1, 768, 320);
      padding: toRem(0) toRem(15) toRem(30);
      transition: left 0.3s;
      &::before {
        content: "";
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        @include adaptiveValue("height", 105, 72, 1, 768, 320);
        transition: left 0.3s;
        background-color: #141a1d;
        z-index: 2;

      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: toRem(10);
    @include adaptiveValue("column-gap", 44, 15);
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: toRem(30);
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    transition: color 0.3s ease 0s;
    @media (max-width: $mobile) {
      font-size: toRem(32);
    }
    @media (any-hover: hover){
      &:hover{
        color: $greenColor;
      }
    }
  }
}

//Burger Icon
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
