// Заголовки, загальні БЕМ блоки та інше...
.page {
  // .page__main
  &__main {}
    // .page__partners
  &__partners {}
}
//========================================================================================================================================================
.title {
  font-weight: 700;
  font-size: toRem(70);
  line-height: math.div(78 , 70);
  @include adaptiveValue("font-size", 70, 45);
  color: #FFFFFF;
  span {
    color: $greenColor;
  }
}
//========================================================================================================================================================